*, *::before , *::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: #b18e73;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.e1{
    width: 300px;
    padding: 50px;
    background-color: bisque;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    font-size: 2em;
    margin: 0 0 10px 0;
}

.pregunta{
    font-size: 1em;
    font-weight: 400;
}

.button{
    width: 150px;
    height: 40px;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a{
    width: 150px;
    height: 40px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
